In [1]:
#create glue session
%idle_timeout 60
%timeout 60
%glue_version 5.0
%worker_type G.1X
%number_of_workers 2

import sys
from awsglue.transforms import *
from awsglue.utils import getResolvedOptions
from pyspark.context import SparkContext
from awsglue.context import GlueContext
from awsglue.job import Job
import pyspark.sql.functions as f
  
sc = SparkContext.getOrCreate()
glueContext = GlueContext(sc)
spark = glueContext.spark_session
job = Job(glueContext)

Welcome to the Glue Interactive Sessions Kernel
For more information on available magic commands, please type %help in any new cell.

Please view our Getting Started page to access the most up-to-date information on the Interactive Sessions kernel: https://docs.aws.amazon.com/glue/latest/dg/interactive-sessions.html
Installed kernel version: 1.0.7
Current idle_timeout is None minutes.
idle_timeout has been set to 60 minutes.
Current timeout is None minutes.
timeout has been set to 60 minutes.
Setting Glue version to: 5.0
Previous worker type: None
Setting new worker type to: G.1X
Previous number of workers: None
Setting new number of workers to: 2
Trying to create a Glue session for the kernel.
Session Type: glueetl
Worker Type: G.1X
Number of Workers: 2
Idle Timeout: 60
Timeout: 60
Session ID: 9c034eb5-b2b4-4025-a653-699785fcdad6
Applying the following default arguments:
--glue_kernel_version 1.0.7
--enable-glue-datacatalog true
Waiting for session 9c034eb5-b2b4-4025-a653-699785fcdad6 to get into ready status...
Session 9c034eb5-b2b4-4025-a653-699785fcdad6 has been created.

In [3]:
#set bucket directory
raw_bucket = 'cloud9-batch-raw'
transformed_bucket = 'cloud9-transformed'

In [4]:
#load schema from raw data catalog
df = glueContext.create_data_frame_from_catalog(database = "cloud9_raw", table_name = "rw_fire_station")

/usr/lib/spark/python/lib/pyspark.zip/pyspark/sql/dataframe.py:147: UserWarning: DataFrame constructor is internal. Do not directly use it.

In [11]:
# list loaded schema
#df.printSchema()

#print sample rows
#df.show(3)

In [7]:
#write transformed data to S3
from pyspark.sql.functions import col
from pyspark.sql.types import *

# 'struct' 컬럼에서 'string'이 아닌 필드를 추출하고 필요한 타입으로 변환
df_transformed = df \
    .withColumn("latitude", col("x-axis")) \
    .withColumn("longitude", col("y-axis")) \
    .withColumn("year", col("year").cast(IntegerType()))\
    .select(
        "fire_station_name", 
        "fire_station_center_name", 
        "address", 
        "phone", 
        "fax",
        "latitude",
        "longitude",
        "employee_count",
        "year"
    )

# 결과 확인
#df_transformed.printSchema()
#df_transformed.show(3)

root
 |-- fire_station_name: string (nullable = true)
 |-- fire_station_center_name: string (nullable = true)
 |-- address: string (nullable = true)
 |-- phone: string (nullable = true)
 |-- fax: string (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- employee_count: long (nullable = true)
 |-- year: integer (nullable = true)

+-----------------+------------------------+--------------------------------+------------+------------+-----------+-----------+--------------+----+
|fire_station_name|fire_station_center_name|                         address|       phone|         fax|   latitude|  longitude|employee_count|year|
+-----------------+------------------------+--------------------------------+------------+------------+-----------+-----------+--------------+----+
| 서울소방재난본부|              강남소방서|서울특별시 강남구 테헤란로 62...|02-6981-7408| 02-556-2119|37.51027919|127.0668302|           356|2018|
| 서울소방재난본부|              강동소방서| 서울특별시 강동구 성내로 39 ...|02-6981-7600|02-6981-7717|37.52945788|127.1253721|           266|2018|
| 서울소방재난본부|              강북소방서| 서울특별시 강북구 한천로 911...|02-6946-0100|02-6946-0128|37.63305134|127.0381809|           228|2018|
+-----------------+------------------------+--------------------------------+------------+------------+-----------+-----------+--------------+----+
only showing top 3 rows

In [9]:
# Write transformed data to S3
df_transformed.write \
              .mode("overwrite") \
              .format('parquet') \
              .partitionBy("year") \
              .save(f's3a://{transformed_bucket}/fire_station_transformed/')

# Create tr_fire_station table if not exists
spark.sql(
    """
    CREATE EXTERNAL TABLE IF NOT EXISTS cloud9_transformed.tr_fire_station (
        `fire_station_name` STRING, 
        `fire_station_center_name` STRING, 
        `address` STRING, 
        `phone` STRING, 
        `fax` STRING, 
        `latitude` DOUBLE, 
        `longitude` DOUBLE, 
        `employee_count` BIGINT
    )
    PARTITIONED BY ( 
        `year` STRING
    )
    ROW FORMAT SERDE 
        'org.apache.hadoop.hive.ql.io.parquet.serde.ParquetHiveSerDe' 
    STORED AS INPUTFORMAT 
        'org.apache.hadoop.hive.ql.io.parquet.MapredParquetInputFormat' 
    OUTPUTFORMAT 
        'org.apache.hadoop.hive.ql.io.parquet.MapredParquetOutputFormat'
    LOCATION
        's3://cloud9-transformed/fire_station_transformed/'
    TBLPROPERTIES (
        'classification' = 'parquet'
    )
    """
)

# Add yesterday's partition
from datetime import datetime, timedelta

yesterday_kst = datetime.utcnow() + timedelta(hours=9)
year = yesterday_kst.strftime('%Y')

spark.sql(
    f"""
    ALTER TABLE cloud9_transformed.tr_fire_station 
    ADD IF NOT EXISTS 
    PARTITION (year='{year}') 
        LOCATION 's3a://cloud9-transformed/fire_station_transformed/year={year}/'
    """
)

DataFrame[]